@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.image-container {
    position: relative;
    overflow: hidden; /* Hide the button initially */
  }
  
  .add-to-cart {
    position: absolute;
    bottom: -50px; /* Initially place it below the image */
    left: 0;
    right: 0;
    text-align: center;
    transition: bottom 0.3s ease; /* Smooth transition */
  }
  
  .image-container:hover .add-to-cart {
    bottom: 10px; /* Move it above the bottom when hovered */
  }

